[flake8]
max-line-length = 120
; W291  Trailing whitespace
; E203  Whitespace before ':'
; W503  Line break occurred before a binary operator
; W391  Blank line at end of file
ignore = E203, W503
exclude =
    __pycache__
    node_modules
        .venv
        migrations

; vim: ft=dosini